
@font-face {
	font-family: 'varela';
	src: url('./assets/fonts/varela/regular.woff2') format('woff2'),
		 url('./assets/fonts/varela/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	background-color: #d6d6d6;
	font-family: 'varela', sans-serif;
	color: #fff;

}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 250px auto;
}

#widget {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;


	width: 550px;
	height: 300px;
	margin: 30px auto;
	padding: 20px;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, .25);
	background: linear-gradient(to top left, #49D1CF, #66E3CB);

	border-radius: 8px;

	box-sizing: border-box;
}

.top {
	margin-left: 25px;
}

#description,
#name {
	margin-top: 5px;
	margin-bottom: 10px;

}
.weather {
	display: flex;
	justify-content: flex-start;
}

.egg {
	margin-left: auto;
	margin-top: 20px;
}

h1 {
	margin: auto;
	font-size: 80px;
}

h2 {
	/* margin: 0; */
}
h3 {
	margin-top: 5px;
}

p {
	margin-right: 20px;
	margin-bottom: 5px;
}